body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #000000;
    background: rgb(0,129,201);
    background: linear-gradient(180deg, rgba(0,129,201,1) 11%, rgba(208,238,255,1) 38%, rgba(255,255,255,1) 48%);
}

.profilepic {
    padding-top: 10px;
    height: 220px;
    width: 200px;
    border-radius: 60%;
}

.skillpic {
    height: 20%;
    width: 20%;
    float: left;
    margin-right: 30px;
}

.gamepic {
    height: 20%;
    width: 20%;
    float: right;
    margin-right: 30px;
}

p {

    line-height: 2;
}

hr {
    border-style: dotted none none;
    border-width: 5px;
    border-color: #FFC93C;
    width: 10%;
    margin: 100px auto;

}

.pro {
    text-decoration: underline;
}

h1 {
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.62rem;
    line-height: 2;
}

h2 {
    font-size: 2.5rem;
    font-weight: normal;
}

h1,
h2 {
    color: #5BC0F8;
}

h2,
h3 {
    font-family: 'Montserrat', sans-serif;
}

h3 {
    color: #0081C9;
    font-weight: bold;
}

.topcontainer {
    background-color: #0081C9;
    position: relative;
    padding-top: 100px;
}


.topcloud {
    position: absolute;
    right: 400px;
    top: 50px;
}

.bottomcloud {
    position: absolute;
    left: 400px;
    bottom: 300px;

}

.profile {
    width: 50%;
    margin: 100px auto 100px auto;
}


.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;

}



.contact-me {

    margin: 100px auto 60px;

    width: 30%;

}



.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}


.bottom-container {
    padding: 50px 0 20px;
    background-color: #0081C9;
   


}